body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.sidebar {
  background-color: var(--header-footer-background);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.sidebar h2,
.sidebar h3 {
  color: var(--text-color);
  margin-bottom: 10px;
}

.filter-form input[type="checkbox"],
.filter-form input[type="number"] {
  margin-right: 8px;
}

/* .filter-button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.filter-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.main-content {
  display: flex;
  align-items: flex-start; /* Содержимое выравнивается по началу */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 15px;
  flex: 1;
}

.product-card {
  background-color: var(--header-footer-background);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  max-width: 200px; /* Устанавливает максимальную ширину */
  height: 200px; /* Фиксирует высоту */
  object-fit: cover; /* Центрирует изображение и обрезает лишнее */
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin: 10px 0;
  color: var(--text-color);
}

.product-card p {
  margin: 5px 0;
  color: var(--text-color);
}

.product-card .price {
  font-weight: bold;
  color: var(--text-color);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination a {
  color: var(--button-background);
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid var(--button-background);
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
  background-color: var(--button-background);
  color: var(--button-text-color);
}

.pagination .current {
  font-weight: bold;
  color: var(--text-color);
}

.filter-section {
  display: flex;
  flex-direction: column; /* Располагаем элементы в столбец */
  gap: 10px; /* Добавляем промежуток между элементами */
}

#max_price,
#min_price {
  margin-left: 6px;
}

.label_price {
  width: 30px;
  display: inline-flex;
}

.product-detail {
  margin-bottom: 30px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Центрирует контент по горизонтали */
  background-color: var(--accent-color); /* Цвет фона карточки */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Центрирует сам блок, если он не растягивается */
}

/* Центрируем изображение */
.product-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  object-fit: cover;
}

/* Цена и описание продукта */
.product-info p {
  margin: 10px 0;
  font-size: 1rem;
  color: #333;
}

/* Кнопка "Add to Cart" */
.product-info button {
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--header-footer-background);
}

.product-info button:hover {
  color: var(--background-color);
  border: 2px solid var(--background-color);
}

.a_cart {
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 8px;
}

.a_cart:hover {
  color: var(--background-color);
}

.product-actions a {
  margin: 5px;
}

.seller_tools {
  display: flex;
  flex-direction: column;
}
