{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Ваши монеты</h1>
    {% if message %}
    <p class="message">{{ message }}</p>
    {% endif %}
    <p class="coins">У вас сейчас: {{ user.coins }} монет</p>


    <form action="{% url 'users:increase_coins' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Получить 10 монет</button>
    </form>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}