{% extends 'base.html' %} {% block content %}

<div class="container">
  <h2 class="page_name">Вход</h2>
  <form method="post">
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }} {% if field.help_text %}
      <div class="form-help">{{ field.help_text }}</div>
      {% endif %} {% if field.errors %}
      <div class="form-error">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <p>
      <button type="submit">Войти</button>
    </p>
  </form>
  <a class="theme-text" href="{% url 'users:password_reset' %}">Забыли пароль?</a>
</div>

{% endblock %}
