{% extends 'base.html' %} {% block content %}
<div class="container">
  <h2 class="page_name">Регистрация</h2>
  <form method="post" class="registration-form">
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }} {% if field.help_text %}
      <div class="form-help">{{ field.help_text }}</div>
      {% endif %} {% if field.errors %}
      <div class="form-error">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <p class="button_p">
      <button type="submit">Зарегистрироваться</button>
    </p>
  </form>
</div>
{% endblock %}
