{% extends 'base.html' %} {% block content %}

<h1 class="page_name">Мои заказы</h1>
{% if orders %}
<table border="1">
  <thead>
    <tr>
      <th>ID заказа</th>
      <th>Стоимость</th>
      <th>Курьер</th>
      <th>Дата создания заказа</th>
      <th>Адрес доставки</th>
      <th>Доставка заказ</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.total_cost }}</td>
      <td>
        {% if order.courier_booking %}
        {{order.courier_booking.courier.username}} {% else %}
        <em>Не назначен</em>
        {% endif %}
      </td>
      <td>{{ order.created_timestamp }}</td>
      <td>{{ order.delivery_address }}</td>
      <td>
        {% if not order.courier_booking and order.requires_delivery %}
        <!--            <form method="post" action="{% url 'order:book_order' order.id %}">-->
        <!--                {% csrf_token %}-->
        <!--                <button type="submit">Забронировать</button>-->
        <!--            </form>-->
        <a class="theme-text" href="{% url 'order:book_order' order.id %}"
          >Доставить</a
        >
        {% elif order.courier_booking and order.requires_delivery %}
        <a class="theme-text" href="{% url 'order:book_delete' order.id %}"
          >Отменить</a
        >
        {% elif not order.requires_delivery %}
        <em>Не требует доставки</em>
        {% else %} Забронировано {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Заказов нет.</p>
{% endif %} {% endblock %}
