<!DOCTYPE html>
<html lang="ru" {% if request.theme == 'dark' %}data-theme="dark"{% else %}data-theme="light"{% endif %}>


    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chart</title>
    {% load static %}
    {% load user_tags %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap"
          rel="stylesheet">

    <link
            type="text/css"
            href="{% static '/css/styles.css' %}"
            rel="stylesheet"
    />
    <link
            type="text/css"
            href="{% static '/css/styles_product_details.css' %}"
            rel="stylesheet"
    />
    <link
            type="text/css"
            href="{% static '/css/styles_form.css' %}"
            rel="stylesheet"
    />

    <link
            type="text/css"
            href="{% static '/css/styles_table.css' %}"
            rel="stylesheet"
    />
    <link
            type="text/css"
            href="{% static '/css/styles_order.css' %}"
            rel="stylesheet"
    />
</head>
<body>
<header class="header">
    <div class="logo"><a href="{% url 'catalog:catalog' %}">Chart</a></div>
    <div class="icons">
        {% if user.is_authenticated %}
        <a href="{% url 'users:profile' %}" class="menu_item">
            <img src="{% static 'media/base/profile.png' %}" alt="Profile"
                 class="menu_icon"/>
            <span class="menu_text">{{ user.username }}</span>
        </a>


        <a href="{% url 'users:coins_page' %}" class="menu_item">
            <img src="{% static 'media/base/wallet.png' %}" alt="Wallet"
                 class="menu_icon"/>
            <span class="menu_text">Монет: {{ user.coins }}</span>
        </a>

        <a href="{% url 'order:order_list' %}" class="menu_item">
            <img src="{% static 'media/base/orders.png' %}" alt="Order"
                 class="menu_icon"/>
            <span class="menu_text">Мои заказы</span>
        </a>


        <!-- Проверка групп пользователя -->
        {% if user|in_group:"Courier" %}
        <a href="{% url 'order:order_list_for_courier' %}" class="menu_item">
            <img src="{% static 'media/base/courier.png' %}" alt="Courier"
                 class="menu_icon"/>
            <span class="menu_text">Для курьера</span>
        </a>
        {% elif user|in_group:"Seller" %}
        <a href="{% url 'catalog:seller_products' %}" class="menu_item">
            <img src="{% static 'media/base/my_product.png' %}" alt="My product"
                 class="menu_icon"/>
            <span class="menu_text">Мои продукты</span>
            {% endif %}

            {% else %}

            <a href="{% url 'users:login' %}" class="menu_item">
                <img src="{% static 'media/base/login.png' %}" alt="Login"
                     class="menu_icon"/>
                <span class="menu_text">Войти</span>

                <a href="{% url 'users:register' %}" class="menu_item">
                    <img src="{% static 'media/base/register.png' %}" alt="Register"
                         class="menu_icon"/>
                    <span class="menu_text">Регистрация</span>


            {% endif %}
            <!-- <span><a href="{% url 'catalog:catalog' %}">Товары</a></span> -->
            <a href="{% url 'cart:cart' %}" class="menu_item">
                <img src="{% static 'media/base/cart.png' %}" alt="Cart"
                     class="menu_icon"/>
                <span class="menu_text">Корзина</span>
            </a>


    </div>
</header>
{% block content %} {% endblock %}
</body>
</html>
