{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>My Products</h1>

    <!-- Кнопка "Добавить продукт" -->
    <a href="{% url 'catalog:add_product' %}" class="btn btn-primary add-product-btn">Добавить продукт</a>

    {% if products %}
        <div class="product-grid">
            {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                <h3>{{ product.name }}</h3>
                <p class="price">${{ product.price }}</p>

                <!-- Кнопки "Изменить" и "Удалить" -->
                <div class="product-actions">
                    <a href="{% url 'catalog:update_product' product.id %}" class="btn btn-warning">Изменить</a>
                    <form action="{% url 'catalog:delete_product' product.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <a href="{% url 'catalog:delete_product' product.id %}" class="btn btn-warning">Удалить</a>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You have not added any products yet.</p>
    {% endif %}
</div>

{% endblock %}
